/* --------- HEADER ---------*/
.header {
  height: 72px;
  display: flex;
  justify-content: space-between;
  background: var(--header-gradient);
}

.header-navigation {
  display: flex;
  align-items: center;
  column-gap: 92px;
}

.icon-menu {
  width: 28px;
  height: 20px;
}

.logo {
  font-family: var(--logo-font);
  color: var(--light-color);
}

.search-form {
  display: flex;
}

.search-input {
  width: 248px;
  height: 44px;
  padding-left: 24px;
  border-radius: 4px 0 0 4px;
  border: solid 1px var(--light-color);
  background-color: #eeeeee;
  color: #777777;
}

.search-button {
  width: 52px;
  height: 44px;
  border-radius: 0 4px 4px 0;
  border: none;
  background-color: var(--light-color);
}

.icon-search {
  width: 18px;
  height: 17px;
}

.header-actions {
  display: flex;
  align-items: center;
  column-gap: 28px;
}

.language-changer {
  height: 28px;
  font-size: 24px;
  display: flex;
  column-gap: 4px;
  color: var(--light-color);
}

.language-changer-button {
  font-size: 24px;
  background: none;
  border: none;
  color: var(--light-color);
}

.icon-favorite-light {
  width: 36px;
  height: 32px;
}

.icon-basket {
  width: 40px;
  height: 38px;
}

/* --------- MAIN ---------*/
/* --- Види товарів --- */

/* --- Реклама --- */

/* --- Популярні --- */
.icon-favorite-dark {
  width: 27px;
  height: 24px;
}
